<% include layout/header %>
<div class="content-wrapper">
    <div class="content-header sty-one">
        <h1>  Add New Branch </h1>
        <ol class="breadcrumb">
            <li><a href="dashboard">Home</a></li>
            <li><i class="fa fa-angle-right"></i> Add New Branch </li>
        </ol>
    </div>

    <div class="content">
        <div class="card">
            <div class="card-body">

                <div id="demo">
                    <div class="step-app">
                        <ul class="step-steps">
                            <li class="active"><a href="#step1">Enter Branch Detail</a></li>
                        </ul>
                        <div class="step-content for-border-remove">
                            <div class="step-tab-panel active" id="step1">
                                <form>

                                    <div class="row m-t-2">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="lastName1">Branch Name:</label>
                                                <input class="form-control" data-title="Branch Name" onkeypress="return (event.charCode > 64 &&   event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)" id="branchName" name = "branchName" type="text" Value="" Placeholder="Branch Name">
                                                <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="branchNameError"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="lastName1">Branch MobileNo:</label>
                                                <input class="form-control" data-title="Branch MobileNo" onkeypress="return (event.charCode > 47 &&   event.charCode < 58) " id="branchMobile" name = "branchMobile" type="text" Value="" Placeholder="9179xxxxxxx">
                                                <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="branchMobileError"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="firstName1">Branch Email-Id:</label>
                                                <input class="form-control" data-title="Branch Email-Id" id="branchEmail" name = "branchEmail" type="email" Value="" Placeholder="e_sign23@gmail.com">
                                                <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="branchEmailError"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="firstName1">Branch Postal Code:</label>
                                                <input class="form-control" data-title="Branch Postal Code" onkeypress="return (event.charCode > 47 &&   event.charCode < 58) " maxlength="8" id="branchPostalCode" name = "branchPostalCode" type="text" Value="" Placeholder="86791">
                                                <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="branchPostalCodeError"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="lastName1">Branch Country:</label>
                                                <input class="form-control" data-title="Branch Country" onkeypress="return (event.charCode > 64 &&   event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)" id="branchCountry" name = "branchCountry" type="text" Value="" Placeholder="Country Name">
                                                <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="branchCountryError"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="firstName1">Branch City:</label>
                                                <input class="form-control" data-title="Branch City" onkeypress="return (event.charCode > 64 &&   event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)" id="branchCity" name = "branchCity" type="text" Value="" Placeholder="City Name">
                                                <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="branchCityError"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="lastName1">Branch Address:</label>
                                                <input class="form-control" data-title="Branch Address" onkeypress="return (event.charCode > 64 &&   event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)" id="branchAddress" name = "branchAddress" type="text" Value="" Placeholder=" Address">
                                                <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="branchAddressError"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-md-6">
                                            <div class="form-group field-color">
                                                <p>*all fields Mandatory</p>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <button type="button" id="btn" onClick="signin()" data-direction="finish" class="btn btn-primary save-button">Save</button>
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!-- Main row -->
    </div>
</div>
<% include layout/footer %>
<script>
    function signin(){
        $(".errorPrint").css('display','none');
        var idValidate=false;
        $(".form-control").each(function (index, value) {
            // console.log('div' + index + ':' + $(this).attr('id'));
            if($.trim($(this).val())){
                $("#"+$(this).attr('id')+'Error').css('display','none');
            }else{
                idValidate=true;
                $("#"+$(this).attr('id')+'Error').empty();
                $("#"+$(this).attr('id')+'Error').append('*'+$(this).attr('data-title')+' is required field');
                $("#"+$(this).attr('id')+'Error').css('display','block');
            }
        });
        if(idValidate){
            return false;
        }else{
            var emailPattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
            
            var branchName      = $.trim($("#branchName").val());
            var branchMobile    = $.trim($("#branchMobile").val());
            var branchEmail     = $.trim($("#branchEmail").val());
            var branchPostalCode= $.trim($("#branchPostalCode").val());
            var branchCountry   = $.trim($("#branchCountry").val());
            var branchCity      = $.trim($("#branchCity").val());
            var branchAddress   = $.trim($("#branchAddress").val());
            
            if(!emailPattern.test(branchEmail)){
                $("#branchEmailError").empty();
                $("#branchEmailError").append('*not a valid e-mail address');
                $("#branchEmailError").css('display','block');
                return false;
            }
            axios.post('/api/addBranch',{branchName:branchName,branchMobile:branchMobile,branchEmailId:branchEmail,branchPostalCode:branchPostalCode,branchCountry:branchCountry,branchCity:branchCity,branchAddress:branchAddress})
                .then((response)=>{
                    console.log(response)
                    if(response.data.code==100){
                        console.log(response);
                        // window.location='/admin/dashboard';
                        swal({
                            title: "Success!",
                            text: response.data.message,
                            icon: "success",
                            dangerMode: false,
                            closeOnClickOutside: false,
                        }).then(function() {
                            window.location.reload();
                        });
                    }else{
                        // alert(response.data.message);
                        swal({
                            title: "OOPS!",
                            text: response.data.message,
                            icon: "warning",
                            dangerMode: true,
                        })
                        console.log(response);
                    }},(e)=>{
                        // alert(response.data.message);
                        swal({
                            title: "OOPS!",
                            text: "Something went wrong.",
                            icon: "warning",
                            dangerMode: true,
                        })
                    });
        }

};
    </script>