<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
        <title>E-Signature : Admin Panel</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../lib/common/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../lib/common/css/style_admin.css">
        <link rel="stylesheet" href="../../lib/common/css/et-line-font/et-line-font.css">
        <link rel="stylesheet" href="../../lib/common/css/themify-icons/themify-icons.css">
        <link rel="stylesheet" href="../../lib/common/css/simple-lineicon/simple-line-icons.css">
        <link rel="stylesheet" href="../../lib/common/plugins/datatables/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="../../lib/common/css/skins/_all-skins.min.css">
        <link rel="stylesheet" href="../../lib/common/plugins/formwizard/jquery-steps.css">
        <link rel="stylesheet" href="../../lib/common/plugins/dropify/dropify.min.css">
        <style>
                @import url(https://fonts.googleapis.com/css?family=Droid+Sans);
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('../../lib/images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
            background-size: 100px 100px;
        }
        
                </style>
</head>
<body class="skin-blue sidebar-mini">
        <div class="loader" id="load"></div>
    <div class="wrapper boxed-wrapper" id="contents">
        <header class="main-header">
            <a href="#" class="logo blue-bg">
                <span class="logo-mini"><img src="../../lib/images/favicon.png" alt=""></span>
                <span class="logo-lg"><img src="../../lib/images/logo.png" alt=""></span> </a>
            <nav class="navbar blue-bg navbar-static-top">
                <!-- <ul class="nav navbar-nav pull-left">
                    <li>
                        <a class="sidebar-toggle" data-toggle="push-menu" href=""></a>
                    </li>
                </ul> -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu p-ph-res">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="../../lib/images/logo.png" class="user-image" alt="User Image"> <span class="hidden-xs">Admin</span> </a>
                            <ul class="dropdown-menu">
                                <!-- <li><a href="dashboard.html"><i class="fa fa-home"></i>My Account</a></li>
                                <li><a href="help-support.html"><i class="fa fa-question-circle"></i>Help & Support</a></li> -->
                                <li><a style="cursor: pointer;" onclick="logout(this);"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <div class="sidebar">
                <div class="user-panel">
                    <div class="image text-center"><img src="../../lib/images/logo.png" class="img-circle" alt="User Image"> </div>
                    <div class="info">
                        <p>Admin Panel</p>
                    </div>
                </div>
                <ul class="sidebar-menu" data-widget="tree">
                    <li><a href="dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
                    <li class="treeview">
                        <a href="#"> <i class="fa fa-university"></i> <span>Branch Management</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                            <li><a href="branch-list"> Branch List</a></li>
                            <li><a href="add-new-branch">Add New Branch</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"> <i class="fa fa-users"></i> <span>Staff Management</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                            <li><a href="staff-list"> Staff List</a></li>
                            <li><a href="add-new-staff"> Add New Staff</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"> <i class="fa fa-file-text-o"></i> <span>Document</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                            <li><a href="document-list"> Document List</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="notification.html"><i class="fa fa-envelope"></i>Notification</a></li> -->
                </ul>
            </div>
        </aside>