<% include layout/header %>
<div class="content-wrapper">
            <div class="content-header sty-one">
                <h1>Dashboard</h1>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><i class="fa fa-angle-right"></i> Dashboard</li>
                </ol>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 m-b-3">
                        <div class="widget-info ebox1">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 text-white">
                                        <p>Number of Staff</p>
                                        <h2 class="font-weight-bold">65</h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-3">
                        <div class="widget-info ebox2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 text-white">
                                        <p>Total Document</p>
                                        <h2 class="font-weight-bold">365</h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-3">
                        <div class="widget-info ebox3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 text-white">
                                        <p>No. of People Signed</p>
                                        <h2 class="font-weight-bold">255</h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-3">
                        <div class="widget-info ebox4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 text-white">
                                        <p>Last Login</p>
                                        <h2 class="font-weight-bold">160</h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="info-box">
                            <div class="card-header">
                                <h5 class="card-title">Recently Signed</h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Card ID</th>
                                            <th>Doc ID</th>
                                            <th>User Name</th>
                                            <th>Doc Name</th>
                                            <th>Plate Number</th>
                                            <th>Signed Date</th>
                                            <th>Signed Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>0001</td>
                                            <td>Card0001</td>
                                            <td>Doc0001</td>
                                            <td>John Doe</td>
                                            <td>Aggrement</td>
                                            <td>0101010101</td>
                                            <td>23-02-2019</td>
                                            <td>16:05</td>
                                        </tr>
                                        <tr>
                                            <td>0002</td>
                                            <td>Card0002</td>
                                            <td>Doc0002</td>
                                            <td>John Doe</td>
                                            <td>Aggrement</td>
                                            <td>0101010101</td>
                                            <td>23-02-2019</td>
                                            <td>16:05</td>
                                        </tr>
                                        <tr>
                                            <td>0003</td>
                                            <td>Card0003</td>
                                            <td>Doc0003</td>
                                            <td>John Doe</td>
                                            <td>Aggrement</td>
                                            <td>0101010101</td>
                                            <td>23-02-2019</td>
                                            <td>16:05</td>
                                        </tr>
                                        <tr>
                                            <td>0004</td>
                                            <td>Card0004</td>
                                            <td>Doc0004</td>
                                            <td>John Doe</td>
                                            <td>Aggrement</td>
                                            <td>0101010101</td>
                                            <td>23-02-2019</td>
                                            <td>16:05</td>
                                        </tr>
                                        <tr>
                                            <td>0005</td>
                                            <td>Card0005</td>
                                            <td>Doc0005</td>
                                            <td>John Doe</td>
                                            <td>Aggrement</td>
                                            <td>0101010101</td>
                                            <td>23-02-2019</td>
                                            <td>16:05</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <% include layout/footer %>