<% include layout/header %>
<div class="content-wrapper">
    <div class="content-header sty-one">
        <h1>Document Detail</h1>
        <ol class="breadcrumb">
            <li><a href="dashboard">Home</a></li>
            <li><i class="fa fa-angle-right"></i>Document Detail</li>
        </ol>
    </div>
    <div class="content prifilesetting">
        <div class="card">
            <div class="card-body">
              <div class="doc_file">
                  <div class="row">
                        <div class="col-lg-6 col-xs-6 b-r"> 
                            <ul class="mailbox-attachments clearfix">
                                <li> <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>
                                <div class="mailbox-attachment-info"><span class="mailbox-attachment-size"><a id="downloadIcon"  download="" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a> </span> </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-xs-6 b-r"> 
                            <a href="#myModal" data-toggle="modal" style="cursor:pointer; float:right;">Upload Signed Document Here.</a>
                        </div>
                    </div>
               </div>
               <div class="doc_detail">
                   <div class="row">
                    <div class="col-lg-4 col-xs-6 b-r"> <strong>Document Name</strong> <br>
                      <p class="text-muted" id="documentName"> </p>
                    </div>
                    <div class="col-lg-4 col-xs-6 b-r"> <strong>Plate Number</strong> <br>
                      <p class="text-muted" id="plateNo"></p>
                    </div>
                    <div class="col-lg-4 col-xs-6 b-r"> <strong>Message</strong> <br>
                      <p class="text-muted" id="message"></p>
                    </div>
                  </div>
                </div>
               <div class="participate_detail">
                <h3>Participate Detail</h3>
                   <div class="row" id="staffData" >
                    
                    


                  </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form id="imageUploadForm" action="/api/uploadDocumentImage" enctype="multipart/form-data" method="POST">
                        <div class="upload-file">
                            <label for="input-file-now">Drag and Drop a File / Document</label>
                            <!-- <input type="file" accept="application/pdf" name="image" id="input-file-now" class="dropify" /> -->
                            <input type="file" accept="application/pdf" name="image" onchange="uploadImage(this)" id="input-file-now" class="dropify" />
                            <input class="form-control" id="imageUrl" type="hidden">
                            <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="imageError"></div><br/>
                            <button  style="float: right" onclick="saveDoc(this)" class="btn btn-primary formwizartbtn">Save</button>
                            <!-- <input type="button" onclick="uploadImage(this)" value="Upload a file"/> -->
                        </div>
                    </form>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>


<% include layout/footer %>


<script>

    console.log('docId=','<%=query%>')
    axios.post('/api/documentDetail',{documentId:'<%=query%>'})
       .then((responseData)=>{
            var result=responseData.data.data;
            console.log('ssss',responseData)
            if(responseData.data.code==100){
                console.log('result',result)
                $("#documentName").html(result.document_name);
                $("#plateNo").html(result.plate_number);
                $("#message").html(result.message);
                $("#downloadIcon").attr('href','../../'+result.document);
                
                var participantResp=responseData.data.data.participant;
                if(participantResp){
                    var htmlData='';var sr=1;
                    $("#staffData").empty();
                    participantResp.forEach(element => {
                        htmlData='<div class="col-lg-4 m-b-3">';
                            htmlData+='<div class="card">';
                                htmlData+='<div class="card-body">';
                                    htmlData+='<div class="mail-contnet">';
                                        htmlData+=' <h4 class="text-black"><i class="fa fa-user"></i> '+element.participantsName+'</h4>';
                                        htmlData+=' <p><i class="fa fa-pencil"></i> '+element.participantsTitle+'</p> ';
                                        htmlData+='<p><i class="fa fa-pencil"></i> '+(element.signatureType == '1'?'Signature':(element.signatureType == '2'?'Thumbprint':(element.signatureType == '3'?'Signature & Thumbprint': '')))+'</p>';
                                        htmlData+= '</div>';
                                        htmlData+='</div>';
                                        htmlData+=' </div>';
                                        htmlData+='</div>';
                        // console.log(htmlData)
                        $("#staffData").append(htmlData);
                        sr++;
                    });
                }
           }else{
                swal({
                    title: "OOPS!",
                    text: 'Something Went Wrong',
                    icon: "warning",
                    dangerMode: true,
                    closeOnClickOutside: false,
                }).then(function() {
                    window.location.href='exixting-document';
                });
           }},(e)=>{
               
           });

           $('#imageUploadForm').on('submit',(function(e) {
            console.log('sssssssss')
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                type:'POST',
                // url: 'http://3.93.24.58:3001/api/uploadDocumentImage',
                url: 'http://localhost:3001/api/uploadDocumentImage',
                data:formData,
                cache:false,
                contentType: false,
                processData: false,
                success:function(data){
                    console.log("success");
                    console.log(data);
                    if(data.code==100){
                        $("#imageUrl").val('')
                        $("#imageUrl").val(data.image)
                    }
                },
                error: function(data){
                    console.log("error");
                    console.log(data);
                }
            });
        }));

        function uploadImage(obj){
           $("#imageUploadForm").submit();
        }
        function saveDoc(obj){
            var imageUrl=$("#imageUrl").val();
            if(imageUrl){
                axios.post('/api/updateDocument',{documentId:'<%=query%>',document:imageUrl})
                .then((responseData)=>{
                        var result=responseData.data.data;
                        console.log('ssss',responseData)
                        if(responseData.data.code==100){
                            swal({
                                title: "Success",
                                text: 'Document updated successfully.',
                                icon: "success",
                                dangerMode: false,
                                closeOnClickOutside: false,
                            }).then(function() {
                                location.reload();
                            });
                    }else{
                            swal({
                                title: "OOPS!",
                                text: 'Something Went Wrong',
                                icon: "warning",
                                dangerMode: true,
                                closeOnClickOutside: false,
                            }).then(function() {
                                //window.location.href='exixting-document';
                            });
                    }},(e)=>{
                        
                });
            }else{
                swal({
                    title: "OOPS!",
                    text: 'Something Went Wrong',
                    icon: "warning",
                    dangerMode: true,
                    closeOnClickOutside: false,
                }).then(function() {
                    //window.location.href='exixting-document';
                });
            }
            
        }

    </script>
