
<% include layout/header %>
<style>
    .paswwordeye input {
     position: relative;
 }
    .paswwordeye a {
     position: absolute;
     top: 29px;
     right: 15px;
     color: #fff !important;
     background: #1136bc;
     padding: 9px 12px;
     border-radius: 0px 7px 5px 0px;
 }
 </style>
    <div class="content-wrapper">
        <div class="content-header sty-one">
            <h1>My Account</h1>
            <ol class="breadcrumb">
                <li><a href="dashboard">Home</a></li>
                <li><i class="fa fa-angle-right"></i>My Account</li>
            </ol>
        </div>
        <div class="content prifilesetting">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills m-t-30  m-b-30">
                        <li class=" nav-item"> <a href="#myprofile" class="nav-link active" data-toggle="tab" aria-expanded="false">My Profile</a> </li>
                        <li class="nav-item"> <a href="#passwordsetting" class="nav-link" data-toggle="tab" aria-expanded="false">Password Setting</a> </li>
                    </ul>
                    <div class="tab-content br-n m-t-2">
                        <div id="myprofile" class="tab-pane active">
                            <div class="card">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card ">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="lastName1">Staff-ID:</label>
                                                            <input class="form-control" readonly style="cursor:no-drop" id="staffId" name = "staffId" type="text" Value="" Placeholder="Staff-Id">
                                                            <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="staffIdError"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="lastName1">Staff Name:</label>
                                                            <input class="form-control inputText" readonly style="cursor:no-drop" id="staffName" name = "staffName" type="text" Value="" Placeholder="Staff Name">
                                                            <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="staffNameError"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="lastName1">Staff Telephone:</label>
                                                            <input class="form-control inputText" readonly style="cursor:no-drop" id="staffMobile" name = "staffMobile" type="text" Value="" Placeholder="9179xxxxxxx">
                                                            <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="staffMobileError"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="firstName1">Staff Email_Id:</label>
                                                            <input class="form-control inputText" readonly style="cursor:no-drop" id="staffEmail" name = "staffEmail" type="email" Value="" Placeholder="e_sign23@gmail.com">
                                                            <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="staffEmailError"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="firstName1">Staff Postal Code:</label>
                                                            <input class="form-control inputText" readonly style="cursor:no-drop" id="staffPostalCode" name = "staffPostalCode" type="text" Value="" Placeholder="86791">
                                                            <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="staffPostalCodeError"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="lastName1">Staff Country:</label>
                                                            <input class="form-control inputText" readonly style="cursor:no-drop" id="staffCountry" name = "staffCountry" type="text" Value="" Placeholder="Staff Name">
                                                            <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="staffCountryError"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="firstName1">Staff City:</label>
                                                            <input class="form-control inputText" readonly style="cursor:no-drop" id="staffCity" name = "staffCity" type="text" Value="" Placeholder="Staff Name">
                                                            <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="staffCityError"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="lastName1">Staff Address:</label>
                                                            <input class="form-control inputText" readonly style="cursor:no-drop" id="staffAddress" name = "staffAddress" type="text" Value="" Placeholder=" Address">
                                                            <div class="errorPrint" style ="font-size:13px;color:red;display:none;" id="staffAddressError"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="passwordsetting" class="tab-pane">
                            <div class="card">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card ">
                                            <div class="card-body">
                                                <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group paswwordeye">
                                                                <label for="lastName1">Old Password:</label>
                                                                <input class="form-control passwordValidate" id="oldPassword" type="password" value="" placeholder=" ">
                                                                <a style="cursor: pointer" onclick="showPassword(this,'oldPassword')" data-status='0'><i class="fa fa-eye"></i></a>
                                                                <div class="errorPrintPassword" style ="font-size:13px;color:red;display:none;" id="oldPasswordError"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group paswwordeye">
                                                                <label for="lastName1">New Password:</label>
                                                                <input class="form-control passwordValidate" id="changePassword" type="password" value="" placeholder=" ">
                                                                <a style="cursor: pointer" onclick="showPassword(this,'changePassword')" data-status='0'><i class="fa fa-eye"></i></a>
                                                                <div class="errorPrintPassword" style ="font-size:13px;color:red;display:none;" id="changePasswordError"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group paswwordeye">
                                                                <label for="lastName1">Confirm New Password:</label>
                                                                <input class="form-control passwordValidate" id="changeConfirmPassword" type="password" value="" placeholder=" ">
                                                                <a style="cursor: pointer" onclick="showPassword(this,'changeConfirmPassword')" data-status='0'><i class="fa fa-eye"></i></a>
                                                                <div class="errorPrintPassword" style ="font-size:13px;color:red;display:none;" id="changeConfirmPasswordError"></div>
                                                            </div>
                                                        </div>
                                                    <div class="col-md-6">
                                                        <button type="button" onclick="staffChangePassword(this);" class="btn btn-primary changepass ">Update Password</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include layout/footer %>
<script>
    var userId='';
    var getData=localStorage.getItem('staffLogin');
        if(getData==null || getData==''){
            window.location="/staff";
            swal({
                title: "warning!",
                text: "Session Expired...",
                icon: "success",
                dangerMode: true,
                closeOnClickOutside: false,
            }).then(function() {
                window.location.href='staff';
            });
        }else{
            getData = $.parseJSON(getData);
            userId=getData.tokenId;
        }
        
axios.post('/api/staffMyProfile',{userId:userId})
    .then((response)=>{
        var result=response.data.data;
        if(response.data.code==100){
            var result=response.data.data;
            $("#staffId").val(result._id);
            $("#staffName").val(result.staffName);
            $("#staffMobile").val(result.staffMobile);
            $("#staffEmail").val(result.staffEmailId);
            $("#staffPostalCode").val(result.staffPostalCode);
            $("#staffCountry").val(result.staffCountry);
            $("#staffCity").val(result.staffCity);
            $("#staffAddress").val(result.staffAddress);
            $("#CredentialEmail").val(result.staffEmailId);
            $("#CredentialPassword").val(result.staffPassword);
        }else{
            swal({
                title: "warning!",
                text: "Some error found.",
                icon: "success",
                dangerMode: true,
                closeOnClickOutside: false,
            }).then(function() {
                window.location.href='dashboard';
            });
        }},(e)=>{
            
        });


        function staffChangePassword(obj){
            $(".errorPrintPassword").css('display','none');
            var idValidate=false;
            $(".passwordValidate").each(function (index, value) {
                // console.log('div' + index + ':' + $(this).attr('id'));
                if($(this).val()){
                    $("#"+$(this).attr('id')+'Error').css('display','none');
                }else{
                    idValidate=true;
                    $("#"+$(this).attr('id')+'Error').empty();
                    $("#"+$(this).attr('id')+'Error').append('*'+$(this).attr('id')+' is required field');
                    $("#"+$(this).attr('id')+'Error').css('display','block');
                }
            });
            if(idValidate){
                return false;
            }else{
                var staffId                 = userId;
                var oldPassword             = $("#oldPassword").val();
                var changePassword          = $("#changePassword").val();
                var changeConfirmPassword   = $("#changeConfirmPassword").val();
                if(changeConfirmPassword && changePassword){
                    if(changePassword.length<8){
                        $("#changePasswordError").empty();
                        $("#changePasswordError").append('*Password should be greated than 7 digits.');
                        $("#changePasswordError").css('display','block');
                        return false;
                    }
                    if(changePassword!=changeConfirmPassword){
                        $("#changeConfirmPasswordError").empty();
                        $("#changeConfirmPasswordError").append('*Confirm Password not match.');
                        $("#changeConfirmPasswordError").css('display','block');
                        return false;
                    }

                    axios.post('/api/staffPasswordChange',{userId:staffId,password:changePassword,oldPassword:oldPassword})
                    .then((branchListResponse)=>{
                        if(branchListResponse.data.code==100){
                            swal({
                                title: "Success",
                                text: branchListResponse.data.message,
                                icon: "success",
                                dangerMode: false,
                                closeOnClickOutside: false,
                            }).then(function() {
                                window.location.reload();
                            });
                        }else{
                            swal({
                                title: "OOPS!",
                                text: branchListResponse.data.message,
                                icon: "warning",
                                dangerMode: true,
                                closeOnClickOutside: false,
                            }).then(function() {
                                //window.location.reload();
                            });
                        }
                    },(e)=>{
                            
                    });

                }else{
                    // console.log('sssssssssss')
                    if(changePassword==''){
                        $("#changePasswordError").empty();
                        $("#changePasswordError").append('*Password is required field.');
                        $("#changePasswordError").css('display','block');
                    }if(changeConfirmPassword==''){
                        $("#changeConfirmPasswordError").empty();
                        $("#changeConfirmPasswordError").append('*Confirm Password is required field.');
                        $("#changeConfirmPasswordError").css('display','block');
                    }
                    return false;
                }
            }
               
        }

           function showPassword(obj,dataId){
                var status=$(obj).attr('data-status');
                if(status==1){
                    $("#"+dataId).attr('type','password');
                    $(obj).attr('data-status',0);
                }else{
                    $("#"+dataId).attr('type','text');
                    $(obj).attr('data-status',1);
                }
           }

</script>